<header class="site-header">

    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.url }}/">{{ site.title }}</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ site.url }}/">Início</a></li>
                    <li class=""><a href="{{ site.url }}/">Talentos</a></li>
                    <li class=""><a href="{{ site.url }}/">Sobre nós</a></li>
                    <li class=""><a href="{{ site.url }}/">Blog</a></li>
                    <li class=""><a href="{{ site.url }}/">Contato</a></li>                   
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div><!-- .navbar -->
    
</header>